@{
    ViewData["Title"] = "Carrinho";
}
@model IList<ItemPedido>;

<h2 class="ajusta-cabecalho">Carrinho</h2>

<div class="card border-primary p-3">
    <div class="card-header">

        <div class="row">
            <div class="col-md-6">
                Item
            </div>
            <div class="col-md-2 text-center">
                Preço Unitário
            </div>
            <div class="col-md-2 text-center">
                Quantidade
            </div>
            <div class="col-md-2">
                <span class="pull-right">
                    Subtotal
                </span>
            </div>
        </div>
    </div>
    <div class="card-body">

        @foreach (var item in Model)
        {
            <div class="row row-center linha-produto align-items-center">
                <div class="col-md-3">
                    <img class="img-produto-carrinho" src="/images/produto_@(item.Produto.Codigo).jpg" />
                </div>
                <div class="col-md-3">@(item.Produto.Nome)</div>
                <div class="col-md-2 text-center">R$ @(item.PrecoUnitario)</div>
                <div class="col-md-2 text-center">
                    <div class="input-group">
                        <span class="input-group-btn">
                            <button class="btn btn-dark">
                                <span>-</span>
                            </button>
                        </span>
                        <input type="text" value="@(item.Quantidade)"
                               class="form-control text-center" />
                        <span class="input-group-btn">
                            <button class="btn btn-dark">
                                <span>+</span>
                            </button>
                        </span>
                    </div>
                </div>
                <div class="col-md-2">
                    R$ <span class="pull-right" subtotal>
                        @(item.Quantidade * item.PrecoUnitario)
                    </span>
                </div>
            </div>
        }
    </div>
    <div class="card-footer">
        <div class="row">
            <div class="col-md-10">
                <span numero-itens>
                    Total: @(Model.Count())
                    itens
                </span>
            </div>
            <div class="col-md-2">
                Total: R$ <span class="pull-right" total>
                    @(Model.Sum(i => i.Quantidade * i.PrecoUnitario))
                </span>
            </div>
        </div>
    </div>
</div>

<div class="row mt-3">
    <div class="col-md-12">
        <div class="pull-right">
            <a class="btn btn-dark" asp-action="catalogo">
                Adicionar Produtos
            </a>
            <a class="btn btn-dark" asp-action="resumo">
                FInalizar Pedido
            </a>
        </div>
    </div>
</div>